<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>{% block title %}Dashboard{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}		
            {{ importmap('app') }}
        {% endblock %}
    </head>

<body class="body_dashboard">
{% block body %}
        <header>
            {# Navbar top #}
            <nav class="navbar_login">
                <img src="{{ asset('images/logo-loreal-reveal-yourself-blanc.svg') }}" class="logo_dashboard">
            </nav>
        </header>
        <section class="section_login">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="div_login">
                <h2 class="title_login mb-4"> Formulaire de connexion </h1>
                    <form action="{{ path('app_login') }}" method="post">
                    <div class="mb-3">
                        <input type="text" id="username" name="_username" value="{{ email }}" placeholder="email" class="input_login">
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password" name="_password"  placeholder="password" class="input_login mb-3">
                        <a href="{{ path('app_forgot_password_request') }}" class="reinitialiser-mot-de-passe_login">Réinitialiser le mot de passe</a>
                    </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path('dashboard_home')}}">

                        <button type="submit" class="btn-primary">Se connecter</button>
                    </form>
            </div>
            <div class="link-inscription_login">
                <p>Pas de compte collaborateur chez nous ? <a href="{{ path('app_register') }}">Inscrivez-vous ici</a></p>
            </div>
        </section>
        {# Footer #}
        <footer class="footer_login">
            <p>Crée avec<i class="fa-solid fa-heart icon_footer"></i>Wild Code School x L'Oréal</p>
        </footer>
        {% endblock %}		
    </body>
</html>
